body {
    font-family: "Helvetica","Arial",sans-serif;
    color: #555;
    margin: 0 auto;
    max-width: 60em;
}

h1,h2,strong {
    color: #333;
}	

.header {
    background-color: #42a9f1e1;
    padding: 10px;
    line-height: 1;
    background-size: cover;
}

.line {margin-bottom: 40px;}

.center-image {
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 20px;
}

.borde-tabla {
    border: 3px solid rgb(89, 11, 225);
    padding: 6px;
    margin: 8px;
    text-align: center;
}


