.center-image {
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 1em;
}


.color-naranja {
    color: #b37121e1;
}

.registro-naranja {
    color: #b55f29e1;
}

.input {
    max-width: 500px; /* Adjust as needed */
    width: 100%;
}

.margen {
    margin: 20px;
    padding: 10px;
}

