<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mi primera pagina!</title>
        <link rel="stylesheet" href="/estiloslab1.css">
    </head>

    <body>
    <div class="header">
        <h1><strong>¡Hola a todos! <a href="/"><button type="button">Regresar</button></a></strong></h1>
        <p class="line">Este es mi primer HTML jamás creado. Los dejo con información mia debajo de esta bella foto de un gato.</p>
    </div>

    <img class="center-image" src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="Michi">

        <div class="borde-tabla">
            <h2><strong>Mis Datos Personales</strong></h2>
            <p>Nombre: Iram Kim Pichardo</p>
            <p>Email: A01710231@tec.mx</p>
            <p>Telefono: 442-305-9679</p>
            <p>Matrícula: A01710231</p>
            <h3>Cosas de mi:</h3>
            <p>Me gusta mucho escuchar música todo el rato, salir con mis amigos y hacer ejercicio todos los días. Soy queretano y tengo  gatos y un perro. </p>
        </div>

        <div>
            <h2><strong>Preguntas Lab1:</strong></h2>
            <p><strong>¿Cuál es la diferencia entre Internet y la World Wide Web?</strong></p>
            <p class="line">Internet es la red global de computadoras interconectadas. Es decir, la infraestructura. Mientras que WWW es un sistema de información para proporcionar acceso a la información como paginas web.</p>
            <p><strong>¿Cuáles son las partes de un URL?</strong></p>
            <p>Protocol: EL protocolo de comunicación, este genera un request a un servidor que responde con algún resource. Ejemplos: HTTP, HTTPS (versión segura), FTP (para transferencia de archivos entre clientes y un servidor en una red), SMTP (transmisión por mail).</p>
            <p>Domain: El nombre del dominio, es decir, la dirección de la página web. Ejemplo: www.google.com</p>
            <p>Path: La ruta del recurso que se quiere obtener. Ejemplo: /search?q=hola</p>
            <p class="line">Query: Los parámetros que se le pasan al servidor. Ejemplo: ?q=hola</p>
            <p><strong>¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT, PATCH, DELETE?</strong> </p>
            <p>GET = Leer </p>
            <p>HEAD = Similar al GET, peror devuelve los encabezados </p>
            <p>PUT = Actualizar </p>
            <p>PATCH = Actualizar parcialmente </p>
            <p>POST = Subir </p>
            <p class="line">DELETE = Eliminar</p>
            <p><strong>¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por ejemplo cuando ingresas tu usuario y contraseña en algún sitio? ¿Por qué?</strong></p>
            <p class="line">Se debe utilizar el método POST, ya que este método envía los datos al servidor para que sean procesados. </p>
            <p><strong>¿Qué método HTTP se utiliza cuando a través de un navegador web se accede a una página a través de un URL?</strong></p>
            <p class="line">Se utiliza el método GET, ya que las solicitudes GET solo deben recuperar datos.</p>
            <p><strong>Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué significa esto? ¿Ocurrió algún error?</strong></p>
            <p class="line">Significa que la solicitud fue exitosa. No ocurrió ningún error.</p>
            <p><strong>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 404? ¿Por qué?</strong></p>
            <p class="line">Si ya que este error significa que el recurso no fue encontrado en el servidor. </p>
            <p><strong>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 500? ¿Por qué?</strong></p>
            <p class="line">Si, ya que este error significa que hubo un error interno en el servidor. </p>
            <p><strong>¿Qué significa que un atributo HTML5 esté depreciado o desaprobado (deprecated)? Menciona algunos elementos de HTML 4 que en HTML5 estén desaprobados.</strong></p>
            <p class="line">Significa que el atributo ya no es parte de la especificación de HTML. Por ejemplo: font, center, big, strike, tt, frame, dir.</p>
            <p><strong>¿Cuáles son las diferencias principales entre HTML 4 y HTML5?</strong></p>
            <p class="line">HTML5 tiene un mejor soporte para multimedia, tiene una mejor semántica, tiene una mejor conectividad y una mejor experiencia de usuario.
            <p><strong>¿Qué componentes de estructura y estilo tiene una tabla?</strong></p>
            <p class="line">Desde el encabezado de columna y fila, celdas, bordes,fondo, orden de filtrado,espaciado, color,etc. </p>
            <p><strong>¿Cuáles son los principales controles de una forma HTML5?</strong></p>
            <p class="line">Input, select, textarea, button, fieldset, label, legend, datalist, output.</p>
            <p><strong>¿Qué tanto soporte HTML5 tiene el navegador que utilizas?</strong></p>
            <p class="line">Para Google Chrome, este tiene un soporte de 100% HTML5.</p>
            <p><strong>¿Cuál es el ciclo de vida de los sistemas de información?</strong></p>
            <p class="line">Se refiere a las etapas del sistema desde su concepción hasta su desactivación.</p>
            <p><strong>¿Cuál es el ciclo de desarrollo de sistemas de información?</strong></p>
            <p class="line">Se refiere al proceso especifico mediante el cual se desarrolla un sistema. Por ejemplo: el análisis, diseño, implementación, pruebas, etc.</p><br>
        </div>
    </body>
<footer>
    <%- include('includes/footer.ejs') %>
</footer>

